
.navbar{
  background-color: #5133A5;

}
.jumbotron {
  background-color: #9574cd;

  color: white;
}

.row-content {
  padding: 50px 0px;
}
.footer {
  background-color: #d1c4e9;
  padding: 20px 0px;
}
